﻿@model HomeViewModel



<h3> Самые продаваемы автомобили</h3>

<div class="row mt-5 mb-2">

    @{

        foreach (Car car in Model.favCars)
        {
            @Html.Partial("AllCars", car)
        }


    }
</div>