﻿@model ShopCartViewModelcs

<div class="container mt-5">
    @foreach(var el in Model.shopCart.listshopitems)
    {
    <div class="alert alert-warning mt-3">
        <a class=" btn btn-danger mt-1 float-right " asp-controller="Order" asp-action="Checkout"> Удалить товар</a>
        <b>Автомобиль:</b> @el.car.name<br />

        <b>Цена: </b>@el.car.price.ToString("c")<br />


    </div>

        
    }

    <hr />
    <a class=" btn btn-danger mb-5" asp-controller="Order" asp-action="Checkout"> Оплатить</a>

</div>