﻿@model CarsListViewModel



@{
    if (Model.carCategory == "")
    {
        <h3>Каталог автомобилей</h3>
    }
    else if (Model.carCategory == "Электромобили")
    {
        <h3>Электромобили</h3>
    }
    else if(Model.carCategory == "Автомобили с ДВС")
    {
        <h3>Бензиновые автомобили</h3>
    }
}

<div class="row mt-5 mb-2">

    @{

        foreach (Car car in Model.getallcars)
        {
            @Html.Partial("AllCars", car)
        }


    }
</div>