﻿body {
    background: #fcfcfc;
}

html {
    height:100%;
}
footer{
    padding:1%;
    border-top: 2px;
    margin-top: 10px;
    padding-bottom: 2%;
}
#page-wrap::after{
    content: "";
    display: block;
}

footer, #page-wrap::after {
    height: 10px;
}
#page-wrap{
    min-height: 94%;
    margin-bottom: -10px;
}