﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/img/fav.png" type="img/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="page-wrap" >
    <header>
        <nav class="navbar navbar-expand-md navbar-dark  bg-dark">
            <a class="navbar-brand" href="/">AutoShop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Главная </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List/electro">Электро</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List/full">Бензиновые</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ShopCart/Index">Корзина</a>
                    </li>
                </ul>
                
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        @RenderBody()
    </div>
        </div>
    <footer class="container">
  
        <p class="float-right"><a href="#">Вверх</a></p>
        <p>&copy; 2019 Все права защищены. &middot; <a href="#">Соглашение</a> &middot;</p>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
