﻿@model Car

<div class="col-4">
    <img class="img-thumbnail" src="@Model.img" alt="@Model.name" />
    <h2> @Model.name</h2>
    
    <p><b>Цена:</b> @Model.price.ToString("c")</p>
    <p><a class=" btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@Model.id">Добавить в корзину</a></p>
</div>